<%- include('partials/header'); -%>
<div class="center-container">
  <div class="div-login">
    <form action="/signup" class="text-center">
      <h2 style="text-align: center">Login</h2>
      <div class="form-group">
        <div style="margin-left: 40px" class="input-group">
          <span class="input-group-text"
            ><i class="bi bi-envelope-fill"></i
          ></span>
          <input
            placeholder="Email"
            type="text"
            class="form-control custom-input"
            name="email"
            required
          />
        </div>
        <div class="email error"></div>
      </div>
      <div class="form-group">
        <div style="margin-left: 40px" class="input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
          <input
            id="password"
            placeholder="Password"
            type="password"
            class="form-control custom-input"
            name="password"
            autocomplete="on"
            required
          />
        </div>
        <input type="checkbox" onclick="show_pass()" />Show Password
        <div class="password error"></div>
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
    <div style="text-align: center">
      <span
        >Don't have an account? <a href="/signup" class="agree">Create</a></span
      >
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>

<script src="/scripts/login.js"></script>
